@{
  Layout = "_Layout";
}

@using ARatsLife.Models

<h3>Here are the plotpoints you have added so far:</h3>

<p>@Html.ActionLink("Create a plotpoint", "Create")</p>

@if (Model.Count == 0)
{
  <p>You haven't added any plotpoints yet!</p>
}

<ol>
  @foreach (Plotpoint model in Model)
  {
    <li>
      <strong>@($"{model.Title}")</strong>
      <ul>
        <li>@($"{model.Description}")</li>
        <li>@($"{model.StoryPosition}")</li>

      </ul>
      <p>@Html.ActionLink("View details", "Details", new { id = model.PlotpointId })</p>
      <p>@Html.ActionLink("Edit this plotpoint", "Edit", new { id = model.PlotpointId })</p>
      <p>@Html.ActionLink("Delete this plotpoint", "Delete", new { id = model.PlotpointId })</p>
      <p>@Html.ActionLink("Add a choice", "Create", "Choices", new { id = model.PlotpointId})</p>

    </li>
  }
</ol>